@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;400;700&display=swap');

$font-main: 'Josefin Slab', serif;

.heading {
    background: rgb(78, 63, 63);
    font-size: 12em;
    font-family: $font-main;
    font-weight: 700;
    color: white;
    padding: 5px;
}