@use "variables" as v;

.todo_single_basic {
    position: relative;
    font-family: v.$font-main;
    width: 70%;
    display: flex;
    border-radius: 5px;
    background-color: whitesmoke;
    flex-wrap: wrap;
    word-wrap: break-word;
}

.todos_single {
    @extend .todo_single_basic;

    font-size: 2em;
    margin: 10px;
    padding: 15px;

    >div {
        position: absolute;
        right: 5px;

        >.icon {
            padding: 5px;
        }
    }

}

.todos_single--edit {
    @extend .todo_single_basic;

    font-size: 1em;
    border: none;
    outline: none;
}

@media(max-width:800px) {
    .todos_single {
        font-size: 1.2em;
    }
}